// Use Flexbox on desktop layout
.grid__row {
  @include mq('desktop')  {
    @include flexy();
  }
}

// Setting the color and styles on each col of the theme__colors grid
@each $item in $grid-items {
  .theme__colors.grid__col--#{$item} {
    background: map_get($grid-colors, $item);
    padding: 16px;
    border-radius: 4px;
    margin-top:4px;
    margin-bottom:4px;
    @include mq('desktop')  {
      margin-right: $gutter;
    }
  }
}

// Setting flex value based on class-name
@for $i from 1 through 12 {
  .grid__col--#{$i}{
    @include flexy($display : null, $flex-multi : $i);
    @include mq('desktop')  {
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}


// Setting the gutter between each div
#grid ~ .grid__row {
  margin-top: 48px;
  margin-bottom: 48px;
}

#grid ~ * {
  text-align: center;
}

.grid__row .centered {
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
}

// Targeting the button container in desktop mode
.grid__col--12 {
    @media (min-width: $break-desktop) {
      @include flexy($justify : space-around);
      margin-top: 24px;
      width: 100%;
    }
}

// Grid headline
#grid {
  @media (min-width: $break-desktop) {
    margin-top: 56px;
  }
}






