.nav {
  padding-left: 0;
  text-align: center;
  margin-top: 24px;
  @include mq('desktop')  {
    @include flexy(flex, null, wrap, flex-end);
    max-width: 80%;
    margin-top: 16px;
    margin-bottom: 88px;
  }
}

.nav__item {
    list-style-type: none;
  a {
    @include text(em(16), $color : $color-text);
    display:inline-block;
    text-decoration: none;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    &:hover {
      background: $color-primary;
      color: $white;
      border-radius: 4px;
    }
    @include mq('desktop')  {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
  @include mq('desktop')  {
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
  }
}