.headline--primary {
  color: $color-primary;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 32px;
}

.headline--secondary {
  font-weight: 300;
  font-size: em(16);
  @include mq('desktop')  {
    margin-top: 0;
  }
}

.blockquote {
  margin-left: 24px;
  margin-right: 24px;
  padding-left: 16px;
  font-size: em(24);
  font-style: italic;
  line-height: 1.3;
  border-left: 8px solid $color-primary;
  border-radius: 4px;
}

.link {
  @include text(inherit, $color: $color-accent, $weight: bolder);
  text-decoration: none;
}


